// *{
//     font-family: 
// }
.element-form-one{
    width: 940px;
    height: 255px;
    box-shadow: 0 0 10px rgba(51,102,153,0.5);
    margin:0 auto;
    margin-top: 50px;
    border-radius: 20px;
    box-sizing: border-box;
}
.element-form-one-hover{
    border-radius: 20px 20px 0 0;
    background-color: #336699;
    p{
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: white;
        
      
    }
}