.offer-description{
    p{
        width: 558px;
    }
}
.offer-img{
    padding-top: 47px;
}
.cd-tab-filter {
   
	a {
        color: #666666;
	    &.selected {
            color: #006699;
            box-shadow: inset 0 -2px 0 #336699;
		}
	}
}


@media (max-width: 1200px) { 
    .offer-description{
        p{
            width: 470px;
        }
    }
}

@media (max-width: 768px) { 
    .offer {
        margin: 0 auto;
        margin-top: -50px; 
    }
    .offer-description{
        p{ 
            margin: 0 auto;
            width: 90%;
            text-align: center;
        }
    }
}






