header{
    // z-index: 2;
    height:700px;
	box-sizing:border-box;
    background-image: linear-gradient(to bottom right, #24c6dc, #514a9d);
}

.first-screen-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 100px;
    >.offer{
        display: block;
        margin-top: -75px;
        >.offer-title{
                >h1{
                font-size: 34px;
                font-weight: 900;
                color: white; 
                line-height: 40px;
                }
            }
        >.offer-description{
            font-size: 16px;
            font-weight: 500;
            color: white;
            line-height: 26px;
        }
    }   
}

//---------------этапы работы-------------------
.stages-work-content-title{
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: #666666;
    margin: 45px 0;
}
.stages-work-content{
    display: flex;
    justify-content: space-between;
}
.size{
    >h1{
        padding-bottom: 25px;
        font-size: 16px;
        font-weight: 800;
      
    }
    >p{
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 215px;
        color: #999999;
        line-height: 16px;
    }
    >img{
        display: none;
    }
}
.column-one-element-one{
    >h1{       
        color: #999999;
    }
}
.column-one-element-two{
    >h1{       
        color: #3399cc;
    }
}
.column-one-element-three{
    >h1{       
        color: #4974a1;
    }
}

.stages-work-content-column-two{
    margin-top: 184px;
    box-sizing: border-box;
}
.column-two-element-one{
    >h1{       
        color: #6699cc;
    }
}
.column-two-element-two{
    >h1{       
        color: #3399cc;
    }
}
.column-two-element-three{
    >h1{       
        color: #33679a;
    }
 }

.stages-work-content-strip{
    box-sizing: border-box;
    margin: 0 60px;
}
// --------єтапы работы под адаптацию---------------
.stages-work-content-media{
    display: none;
}
.stages{
    >.stages-img{
        margin: 20px auto;
        text-align: center;
    }
    >h1{
        padding-bottom: 30px;
        font-size: 16px;
        font-weight: 800;
        text-align: center;
      
    }
    >p{
        font-size: 14px;
        font-weight: 500;
        color: #999999;
        line-height: 16px;
        text-align: center;
    }
}
// ----------------полоса----------------------------
.call-to-action{
    background: #336699;
    height: 190px;
    
}
.call-to-action-content{
    padding: 55px;

}
.call-to-action-content p{
  	// margin: 0 auto;
	color: white;
	font-size: 16px;
	font-weight:500;
	line-height: 30px;
	text-align:  center;
}
// -------------Бриф---------------------------------
.transition-of-the-poll-content{
    padding:60px 0;
    text-align: center;
    >h2{
        font-size: 28px;
        font-weight:bold;
        color: #666666;
    }
}
.transition-of-the-poll-content p{
    margin-top: 20px;
    line-height: 28px;
    color: #666666;
   font-size: 16px;
   font-weight:500;
}
// --------------------------------------------
.button {
    box-sizing:border-box;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 20px 20px;
    margin: 50px 60px;
    position: relative;
    overflow: hidden;
    border: 2px solid #336699;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: #336699;
    transition: .2s ease-in-out;
  }
  .button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 70px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .button:hover {
    background: #336699;
    color: #fff;
  }
  .button:hover:before {
    left: 300px;
    transition: .5s ease-in-out;
  } 
