@media (min-width: 1400px) and (max-width: 3000px) {
    .wrapper{
        width: 1366px;
        margin: 0 auto;
    }
    .background-two{
        display: none;
    }
    .stages-work-content-media{
        display:none;
    }
    .header{
        background-image: none;
        background-image: linear-gradient(to bottom right, #24c6dc, #514a9d);
    }
}




@media (min-width: 1024px) and (max-width: 1150px) {
    .offer-img{
        // width: 200px;
        // height:200px;
    }
    .first-screen-content{
        // text-align: center;
    >.offer{
        // margin-top: 50px;
        >.offer-description{
            // width: 90%;
            // margin: 0 auto;
        }
    }
    }
    .background-two{
        display: none;
        // position: absolute;
        // z-index: 3;
        // top:68px;
    }
   
    .stages-work-content-media{
        display:none;
    }
}
    
@media (min-width: 768px) and (max-width: 1024px) {
    .offer-img{
        display: none;
    }
    .first-screen-content{
        text-align: center;
    >.offer{
        margin-top: 50px;
        >.offer-description{
            width: 90%;
            margin: 0 auto;
        }
    }
    }
    .background-two{
        display: block;        
    }
    .stages-work-content{
        display: none;
    }
    .stages-work-content-media{
        display:block;
    }
    .header{
        background-image: none;
        background-image: linear-gradient(to bottom right, #24c6dc, #514a9d);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .offer-img{
        display: none;
    }
    .first-screen-content{
        text-align: center;
    >.offer{
        margin-top: 50px;
        >.offer-description{
            width: 95%;
            margin: 0 auto;
        }
    }
    } 
    .background-two{
            display: block;
            top: 80px;
            right: 130px;        
    }
    .stages-work-content{
        display: none;
    }
    .stages-work-content-media{
        display:block;
    }
    .call-to-action-content{
        padding: 40px;
    }
    .header{
        background-image: none;
        background-image: linear-gradient(to bottom right, #24c6dc, #514a9d);
    }
   
}
@media (min-width: 300px) and (max-width: 600px) {
    .menu {
        display: none;
    }
    .menu-mobile{
        display: block;       
    }
    .offer-img{
        display: none;
    }
    .first-screen-content{
        text-align: center;
    >.offer{
        margin-top: 50px;
        >.offer-description{
            width: 95%;
            margin: 0 auto;
        }
    }}
    .background-two{
        display: block;
        top: 80px;
        right: 130px;        
    }
     
  .stages-work-content{
      display: none;
  }
  .stages-work-content-media{
      display:block;
  }
  .call-to-action-content{
    padding: 30px;
}
.header{
    background-image: none;
    background-image: linear-gradient(to bottom right, #24c6dc, #514a9d);
}
   
    
    
}

